<%= session.inspect %>

<form name="delete_game" action="/delete_game" method="post">
<input type="submit" value="Delete Game">
</form>

<form name="start_game" action="/game" method="post">
<input type="submit" value="Start Game">
</form>



<p><%= erb :players_partial %></p>



<%= yield %>


